*.cover
*.egg
*.egg-info/
*.py[cod]
*.sublime-project
*.sublime-workspace
.coverage
.coverage.*
.DS_Store
.eggs/
.tox/
.venv
__pycache__/
build/
coverage.xml
dist/
eggs/
pip-wheel-metadata/
sdist/
wheels/
